@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);



header {
    background-color: rgb(32,32,32);
    text-align: right; 
    padding: 30px;
}


nav i.fa {
    color:hsl(147, 90%, 47%);
    position: absolute; 
    top: 0; 
    left: 30px; 
    padding: 20px; 
    font-size: 50px;
}


.d1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    padding: 150px 50px;
    font-size: 30px;
}



.d2{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    margin-top: -200px; 
    padding: 50px;
    font-size: 20px;
}

.d3{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    margin-top: -120px; 
    padding: 100px;
    margin-left: -50px; /* Adjust this value to move it towards the left */
    font-size: 15px;
}

.image1 {
    /*border: 5px solid #555;*/
    display: block;
    margin: -400px 650px 0 auto; /* Adjusted margins */
    border: solid var(--size-2) transparent;
    border-radius: var(--radius-4);
    background: 
        linear-gradient(to bottom,hsl(147, 90%, 47%), black);
        transition: box-shadow 0.3s ease; 
  }

.image2{
    display: block;
    margin: -340px 340px 0 auto; /* Adjusted margins */
    border: solid var(--size-2) transparent;
    border-radius: var(--radius-4);
    background: 
        linear-gradient(to bottom,hsl(147, 90%, 47%), black); 
        transition: box-shadow 0.3s ease;
}
  
.image3{
    display: block;
    margin: -340px 70px 0 auto; /* Adjusted margins */
    border: solid var(--size-2) transparent;
    border-radius: var(--radius-4);
    background: 
        linear-gradient(to bottom,hsl(147, 90%, 47%), black);
        transition: box-shadow 0.3s ease; 
}


.image4{
    display: block;
    margin: 170px 580px 0 auto; /* Adjusted margins */
    transition: box-shadow 0.3s ease;
}

.image1:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.image2:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.image3:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.image4:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.list1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    margin-top: -430px; 
    padding: 50px;
    font-size: 20px;
}

.list2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    margin-top: -50px;
    padding: 50px; /* Decreased right padding */
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none; 
    margin-right: 40px; 
    font-size: 20px;
}

/* Styles for mobile devices */
@media (max-width: 768px) {

    nav {
        text-align: center;
        color:white;
    }

    nav a {
        display: block;
        margin: 10px 0;
        color:white;
    }
    
    .d1 {
        padding: 120px 20px;
        font-size: 10px;
        margin-top: -10px;
    }  

    .d2 {
        font-size: 14px;
        padding: 120px 20px;
        margin-top: -230px;
    }

    .d3 {
        padding: 50px;
        font-size: 12px;
        padding: 130px 70px;
        margin-top: -220px;
    }

    .image1 {
        margin-top: 80px;
        margin-left: 30px;
        width: 30%;
        height: 30%;
    }

    .image2 {
        margin-top: 80px;
        margin-left: 20px;
        width: 30%;
        height: 30%;
    }

    .image3 {
        margin-top: 80px;
        margin-left: 15px;
        width: 30%;
        height: 30%;
    }

    .image4 {
        margin-top: 80px;
        margin-left: 30px;
        width: 30%;
        height: 30%;
    }

    .list1,
    .list2 {
        margin-top: 20px;
    }
}

/* Styles for laptop screens */
@media (min-width: 769px) {
    .image1 {
        margin: -400px 650px 0 auto;
    }

    .image2 {
        margin: -340px 340px 0 auto;
    }

    .image3 {
        margin: -340px 70px 0 auto;
    }

    .image4 {
        margin: 170px 580px 0 auto;
    }

    .list1 {
        margin-top: -430px;
    }

    .list2 {
        margin-top: -50px;
    }
}